.titulo5{
  padding-top: 79px;
  padding-left: 32px !important;
}
.titulo5 h1{
  margin-bottom: 0px !important;

}
.titulo6{
  padding-top: 109px;
  padding-left: 32px !important;
  margin-bottom: 67px;  
}
.titulo6 h1{
  margin-bottom: 55px !important;
}
.conteudo-open{
  background-color: var(--cor-3);  
}
.no-border{
  border-left: none !important;
  padding-left: 0px !important;
}
.dropdown-bg{
  padding-left: 32px !important;
}
.sumirbtn{
  display: none;
}

.btn-dropdown{
  background-color: var(--cor-3) !important;
  border-radius: 25px  !important;
  padding-right: 15px;
  padding-left: 35px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;

}
.btn-dropdown img{
  width: 20px;
  margin-left: 15px !important;  
  padding-top: 3px;
}

.dropdownmenu{
  display: none;
  width: 100%;
  background-color: var(--cor-3) !important;
  padding-left: 35px !important;
  padding-right: 20px !important;
  padding-bottom: 23px !important;
  margin-bottom: 67px !important;
  border-radius: 20px !important;
}
.dropdownmenu.show{
  display: block;
}

.dropdownmenu img{
  max-width: 20px; 
  cursor: pointer;

}
.btn-outline-primary{
  color: var(--cor-0) !important;
  border: solid 3px var(--cor-0) !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  border-radius: 25px  !important;
  font: 400 20px/35px Degular !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.btn-aplicar{
  color: var(--cor-1) !important;
  background-color: var(--cor-0) !important;
  border-radius: 25px  !important;
  font: 400 20px/35px Degular !important;
  padding-left: 24px !important;
  padding-right: 24px !important;

}
.btn-limpar{
  color: var(--cor-0) !important;
  background-color: var(--cor-3) !important;
  font: 400 20px/35px Degular !important;
  padding-bottom: 0px !important; 
  border-bottom: solid 1px var(--cor-0) !important;
}

.lista{
  gap: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  padding-left: 0px;
}
#lista-bottom{
  margin-bottom: 43px;
}
.fundo-cor-1{
  background-color: var(--cor-1) !important;
  margin-top: 67px;  
  margin-left: 0px !important;

}
.cards-bg{
  padding-left: 20px !important;

}

.shadow1{
   box-shadow: 0px 6px 9px 0px #00000026 !important;
}
.bg-cor-3{
  background-color: var(--cor-3);
}
@media (max-width: 776.98px){
  .cards-bg{
    padding-left: 32px !important;  
  }
  .titulo6{
    padding-right: 0px !important;
  }
}
@media (max-width: 650.98px){
  .titulo6 h1{
    font: 700 50px/35px Degular !important;
  }
}
@media (max-width: 576.98px){
  .titulo5{
    padding-top: 42px ;
    padding-left: 0px !important;
    white-space: nowrap;
  }
  .titulo5 h1{
    font: 400 17px/23.6px Degular;
  }
  .titulo5 span{
    font: 700 17px/23.6px Degular;
  }
  .titulo6{    
    text-align: center !important;
    padding-top: 42px ;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 0px;
  }
  .titulo6 h1{
    margin-bottom: 23px !important;
    font: 700 35px/35px Degular !important;

  }
  .no-border{   
    padding-bottom: 31px !important;
  }
  .dropdown-bg{
    padding-left: 0px !important;
    padding-right: 0px !important;    
  }
  .dropdownmenu{
    padding-left: 15px !important;   
    padding-bottom: 25px !important;
    margin-bottom: 33px !important;    
  } 
  .btn-dropdown{
    font: 400 10px/16.4px Degular !important;
    padding-left: 15px !important;
  }
  .btn-dropdown img{
    width: 6.53px;
    padding: 0px;
    margin-left: 6px !important;
  }
  .lista{
    gap:10px;
  }
  #lista-bottom{
    margin-bottom: 27px;
  }
  .dropdownmenu img{
    max-width: 9.5px;
  } 
  .dropdownmenu h3{
    font: 700 10px/18px Degular !important;
  }
  .dropdownmenu span, .dropdownmenu a{
    font: 400 10px/17px Degular !important;
  }
  .btn-outline-primary, .btn-aplicar{
    border: 1px solid var(--cor-0) !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .dropdownmenu.show{
    padding-right: 10px !important;
  }
  .fundo-cor-1{  
    margin-right: 0px !important;
    margin-top: 30px;
    margin-bottom: 95px;
  }
  .cards-bg{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

