.container{
  box-sizing: border-box;
  max-width: 1532px;
  margin: 0 auto;
  padding: 0px !important;
}

.botao{
  display: inline-block;
  background-color: var(--cor-0);
  padding: 20px 82px 20px 82px !important;
  grid-column: 2/3;
  text-align: center;
  white-space: nowrap;
}

.botao1{
  display: inline-block;
  background-color: var(--cor-2);
  padding: 0px 64px;
  font-family: Degular;
  font-size: 24px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left; 
  align-self: start;
  margin-top: 10px;
}
