:root {
  --cor-0: #c23d78;
  --cor-1: #fff;
  --cor-2: #5999d9;
  --cor-3: #f1f1f1;
  --cor-4: #296b42;
  --cor-5: #d39713;
  --cor-6: #868686;
  --cor-7: #000;
  --cor-8: #5e47bd;
  --cor-9: #9A3160;
  --cor-10:#EAEAEA;
  --cor-11: #838383
 
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11{
  color: var(--cor-11);
}