input{
  margin: 0px !important;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form label {
  font-weight: bold;
  display: block;

}
.form p{
  margin-bottom: 8px;
}

.asterisco{
  color: #ff000f;
  font-family: Degular;
  font-size: 20px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;

}
[type="email"]{  
  height: 71px;
  background-color:  #EAEAEA !important;
  color: #9b9b9b !important;
  padding: 0px 22px !important;
  border: none !important;
}
.form-control{
  border-radius: 0px !important;
}
.email-paginas{
  background-color: transparent !important;
  border-bottom: 1px solid #9b9b9b !important;
  max-height: 40px;  
  padding-left: 0px !important;
}

[type='checkbox']{
  width: 22px;
  height: 22px;
  font-family: Degular;
  font-size: 20px;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
}
.checkbox{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 12px;
}
.checkbox input{
  display: none;
}
.checkbox input + label:before{
  content: " ";
  width: 22px;
  height: 22px;
  border: 1px solid var(--cor-7);  
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  margin-bottom: 3px;
}
.checkbox input:checked + label:before{
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1L6 12L1 7' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center; 
  background-repeat: no-repeat;
  padding: 2px;
}

.checkbox label{
  font-family: Degular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;   
  margin-bottom: 8px;
}
#conteudoexclusivos{
  margin-top: 32px;
}


@media (max-width: 576.98px){
  .form label {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left; 
  }
  .asterisco{
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left; 
  }
  [type="email"]{
    height: 44px;
    font: 500 12px/40px Degular !important;
  }
  [type='checkbox']{  
    height: 13.65px;
    width: 13.65px;
  }
  .checkbox{
    gap: 6px;
    max-height: 20px;
  }
  .checkbox input + label:before{
    width: 13.5px;
    height: 13.5px;
    margin-right: 4px;
  }

  .checkbox input:checked + label:before{
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1L6 12L1 7' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: center; 
    background-repeat: no-repeat;
    padding: 2px;
  }

  .checkbox label{
    font-family: Degular;
    font-size: 12px;
    font-weight: 100;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
  }
  form p {
    font: 700 12px/20px Degular !important; 
    margin-bottom: 0px !important; 
  }
  #conteudoexclusivos{
    margin-top: 12px;
  }
}