.font-1{
  font-family: Degular;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  
}

.font-2{
  font-family: Degular;
  font-size: 30px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.font-3{
  font-family: Degular;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.font-4{
  font-family: Degular;
  font-size: 64px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
}

.font-5{
  font-family: Degular;
  font-size: 30px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.font-6{
  font-family: Degular;
  font-size: 54px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}

.font-7{
  font-family: Degular;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.font-8{
  font-family: Degular;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.font-9{
  font-family: Degular;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.font-10{
  font-family: Degular;
  font-size: 20px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.font-11{
  font-family: Degular;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.font-12{
  font-family: Degular;
  font-size: 20px;
  font-weight: 700; 
  letter-spacing: 0em;
  text-align: left;
  max-width: 50ch;
}
.font-13{
  font-family: Degular;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.font-14{
  font-family: Degular;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.font-15{
  font-family: Degular;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.font-16{
  font-family: Degular;
  font-size: 64px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.font-17{
  font-family: Degular;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.font-18{
  font-family: Degular;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.font-19{
  font-family: Degular;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}
.font-20{
  font-family: Degular;
font-size: 16px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
}

.font-21{
  font-family: Degular;
  font-size: 36px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;

}
.font-22{
  font-family: Degular;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}