.footer{
  background-color: var(--cor-0);
  padding-top: 49px;
  padding-bottom: 49px;
}
.footer-logo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  padding-left: 40px !important;
}
.footer-logo img{
  max-width: 151px;
  
}
.footer-logo p{
  max-width: 40ch;
  border-bottom: solid 1px ;
  padding: 0px 0px 19px 0px;
}

.footer li{
  margin-bottom: 10px;
}
.footer ul{
  margin-bottom: 0px;
}
.footer-redes{
  padding-left: 40px !important;
}
.footer-redes img{
  max-width: 31px;
  min-height: 30px;
}
@media (max-width: 991.98px){
  .footer-logo{
    padding-left: 12px !important;
  }
  .footer-redes{
    padding-left: 12px !important;
  }

}

@media (max-width: 767.98px){
  .footer-logo{
    padding-left: 0px !important;
  }
  .footer-redes{
    padding-left: 0px !important;
  }

}

@media (max-width: 576.98px){
  .footer-logo{
    padding-left: 0px !important;
    border-bottom: solid 1px var(--cor-1);
    margin-bottom: 16px ;
  }
  .footer-logo p{
    padding-bottom: 99px;
    max-width: 45ch;
    border-bottom: none;
    margin-bottom: 0px;
  }
  .footer ul{
    border-bottom: solid 1px var(--cor-1);
    padding-bottom: 99px;
    padding-left: 0px;
    margin-bottom: 19px;
  }

}