body {
	max-width: 1512px !important;
	margin: 0 auto !important;
	padding: 0px !important;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
	margin: 0px;
}

ul {
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: none !important;
	color: inherit;
}

img {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0px !important;
}
.nomargin {
	margin: 0px !important;
	padding: 0px 0px !important;
}

.scrollhidden{
	overflow: hidden;
}
.scrollmostrar{
	overflow: scroll;
}