.shadow-bottom {
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}
.navbar {
	padding: 0px !important;
}
.navbar-brand {
	margin-right: 0px !important;
	background-color: var(--cor-0);
	display: grid;
	place-content: center;
	height: 90px;
	flex-basis: 100%;
}
.navbar-brand img {
	display: block;
	object-fit: contain;
	min-width: 151px;
}
.header-menu {
	background-color: var(--cor-2);
	gap: 35.3px;
	justify-content: center;
	padding: 27.5px 48px 27.5px 48px !important;
	box-sizing: border-box;
	white-space: nowrap;
	flex-wrap: nowrap;
}

#header .nav-link {
	padding: 0px;
	font-family: Degular;
	font-size: 17px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--cor-1);
}
.site-bg {
	background-color: var(--cor-8);
	padding: 27.5px 87px 27.5px 48px !important;
	margin-bottom: 0px;
	box-sizing: border-box;
	height: 90px;
	white-space: nowrap;
	width: 220px;
}

.header-responsivo {
	display: none;
	background-color: var(--cor-1);
	align-items: center;
	padding: 12px 12px;
}

@media (max-width: 991.98px) {
	.navbar {
		position: relative;
	}
	#header .navbar-brand {
		display: none;
	}
	.header-responsivo {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 70px;
	}
	#header .nav-link {
		border-top: solid 1px #70a7de;
	}
	.site-bg {
		display: none;
	}
	#navbarNav {
		position: absolute;
		top: -70px;
		right: 0px;
		z-index: 1000;
	}
	.header-menu {
		padding-top: 43px !important ;
		padding-left: 0px !important;
		padding-right: 0px !important;
		padding-bottom: 100vh !important;
		gap: 0px;
	}
	#header .nav-link {
		font-family: Degular;
		font-size: 17px;
		font-weight: 400;
		line-height: 35px;
		letter-spacing: 0em;
		text-align: left;
		padding: 0px 125px 0px 21px;
	}
	@media (max-width: 767.98px) {
		.header-responsivo {
			height: 48px;
		}
		#navbarNav {
			top: -48px;
		}
	}
}
