.assinatura{  
  padding-top: 98px;
  padding-bottom: 98px;

}
.titulo4{
  padding: 98px 0px 180px 40px  !important; 
}
#titulo4{
  padding: 98px 0px 180px 40px !important;
}
.formulario{
  padding-right: 0px !important;
  padding-left: 128px !important;
}

@media (max-width: 991.98px){
  .assinatura{
    padding: 30px 12px 120px 12px !important;
  }
  .formulario{
    padding-left: 12px !important;
    padding-right: 0px !important;
  }
  .titulo4{
    padding: 68px 30px 30px 0px !important; 
    padding-bottom: 0px !important; 
  }
  
  #titulo4{
    padding: 68px 30px 30px 12px !important; 
   
  }
}
@media (max-width: 767.98px){
  .formulario{
    padding-left: 0px !important;
  }
  #titulo4{
    padding: 68px 30px 30px 0px !important; 
  }
}
@media (max-width: 576.98px){
  .titulo4 h1{ 
    font: 700 35px/32px Degular !important;
    padding-bottom: 0px !important;
  }
  #titulo4 h1{
    font: 700 35px/32px Degular !important;
    padding-bottom: 0px !important;
    padding-left: 0px;
  }  
  .botao1{
    display: block !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
    text-align: center !important;
    font: 400 15px/32px Degular !important;  
  }
}