.introducao {
	display: flex;
}
.introducao-img {
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 0px !important;
	overflow: hidden;
	height: 600px;
}
.introducao-img > img {
	object-fit: cover;
}
.introducao-bg1 {
	background-color: var(--cor-5);
	width: 220px;
	height: 150px;
}
.introducao-bg2 {
	background-color: var(--cor-4);
	width: 220px;
	height: 50px;
}
.introducao-bg3 {
	background-color: var(--cor-0);
	width: 220px;
	height: 400px;
}
.introducao2-bg {
	background-color: var(--cor-3);
	box-shadow: inset 0px -36px var(--cor-1);
}
.introducao2 {
	padding-left: 40px !important;
}

.introducao-coluna {
	background-color: var(--cor-3);
	padding: 40px 0px 0px 0px;
}

.introducao-coluna h2 {
	margin-bottom: 17px;
}
.introducao-responsivo {
	display: none;
}

@media (max-width: 768px) {
	.introducao-bg {
		display: none;
	}
}
@media (max-width: 1199.98px) {
	.introducao-coluna {
		padding: 40px 66px 0px 66px;
	}
}

@media (max-width: 767.98px) {
	.introducao-img,
	.introducao2-bg {
		display: none;
	}
	.introducao-responsivo {
		display: block;
		background: url('../../img/pexels-andrea-piacquadio-3763188\ 12.png')
			no-repeat;
		background-position: center;
		background-size: cover;
		min-height: 689px;
		position: relative;
		padding: 0px !important;
		box-shadow: inset 0 -36px var(--cor-1);
	}
	.img-homem {
		display: flex;
		gap: 15px;
		flex-direction: column;
	}
	.espaço-vazio {
		min-height: 429px;
	}
	.introducao-coluna-responsivo {
		background-color: var(--cor-1);
		padding: 23px 36px;
		display: flex;
		align-items: center;
		position: relative;
	}
	.introducao-coluna-responsivo h2 {
		font-family: Degular;
		font-size: 22px;
		font-weight: 700;
		line-height: 23px;
		letter-spacing: 0em;
		text-align: left;
	}
	.introducao-coluna-responsivo p {
		font-family: Degular;
		font-size: 19px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0em;
		text-align: left;
	}
	.carousel-indicators {
		position: relative !important;
		margin-bottom: 0px !important;
	}
	[data-bs-target='#carouselExampleIndicators'] {
		width: 10px !important;
		height: 10px !important;
		border-radius: 50% !important;
		background-color: var(--cor-3) !important;
	}
	.btn1 {
		background-color: var(--cor-0);
	}
	.botao-responsivo {
		display: block;
		white-space: nowrap;
		padding: 15px 65px;
		text-align: center !important;
		background-color: var(--cor-0);
	}
}
@media (max-width: 576px) {
	.botao-responsivo {
		font: 700 23px/24px Degular !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.introducao-responsivo {
		display: block;
		background: url('../../img/Sem\ título.png')
			no-repeat;
		background-position: center;
		background-size: cover;
	}
}