.mais-lidas-bg {
	background: linear-gradient(90deg, var(--cor-3) 50%, #fff 50%);
}
.titulo1 {
	padding: 45px 0px 57px 28px !important;
	white-space: nowrap;
	margin: 0px !important;
	position: relative;
}
.titulo1::before{
	content: " ";
	width: 136px;
	height: 497px;
	background-color: var(--cor-4);
	position: absolute;
	top: 167px;
	left: -108px;
}
.titulo2 {
	background: var(--cor-4);
	padding: 151px 30px 151px 0px;
	margin: 0px;
	position: relative;
}
.titulo2 h1 {
	max-width: 13ch;
	margin: 0px !important;	
}
#titulo2 {
	padding-left: 40px;
}
.link {
	grid-column: 2/3;
	grid-row: 2/4;
	padding: 42px 0px 0px 34px;
}
.link div {
	border-top: solid 1px var(--cor-6);
	padding: 15px 0px 0px 6px;
}

.link h2 {
	margin-bottom: 6px;
}
.link p {
	margin-bottom: 25px !important;
}
.nossasdescobertas {
	display: flex;
	flex-direction: column;
	background-color: var(--cor-3);
	padding: 32px 30px 48px 0px;
}
.nossasdescobertas h2 {
	margin: 0px !important;
}
.nossasdescobertas p {
	margin-bottom: 0px;
}
.nossasdescobertas-img {
	max-width: 95px;
	margin-bottom: 32px;
}

/* .nossasdescobertas h2{
  position: relative;
}

.nossasdescobertas h2::before{
  content: " ";
  background-color: var(--cor-2);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -32px;
} */
@media (max-width: 1398.98px) {
	.titulo1::before{
		width: 200px;
		height: 497px;
		left: -150px;
	}
	.link p {
		font-size: 18px;
	}
}

@media (max-width: 1198.98px) {
	.titulo1::before{
		width: 200px;
		height: 497px;
		left: -150px;
	}
}
@media (max-width: 991.98px) {
	.mais-lidas-bg {
		background: none;
	}
	.titulo1 {
		padding-left: 0px !important;
	}
	.titulo1::before{
		display: none;
	}

	.titulo2 {
		padding: 40px 66px 40px 66px;
	}
	#titulo2 {
		padding-left: 12px;
	}
	.nossasdescobertas {
		padding: 40px 66px 40px 66px;
	}
	.link {
		padding: 28px 0px 20px 0px;
	}
	.link div {
		border-top: 0px;
		border-left: solid 1px var(--cor-6);
		padding: 0px 0px 0px 26px;
		margin-bottom: 20px;
	}
}
@media (max-width: 776.98px) {
	.titulo1 {
		padding-left: 0px !important;
	}
	.titulo2 h1 {
		max-width: max-content;
	}
	.link {
		padding: 28px 12px 20px 0px;
	}
}
@media (max-width: 576.98px) {
	.titulo1 {
		font: 700 35px/36px Degular !important;
	}
	.titulo2 h1 {
		font: 700 28px/23px Degular !important;
	}
	.link div {
		padding: 0px 0px 8px 26px !important ;
	}
	.link h2 {
		margin-bottom: 0px !important;
	}
	.link p {
		margin-bottom: 0px !important;
	}
	.titulo2 {
		padding: 40px 66px 40px 66px;
	}
	.nossasdescobertas {
		padding: 23px 20px 40px 21px;
	}
	.nossasdescobertas h2 {
		font-family: Degular;
		font-size: 19px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0em;
		text-align: left;
		margin-top: 50px;
	}
	.nossasdescobertas p {
		font-family: Degular;
		font-size: 23px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
	}
	.link h2 {
		font-family: Degular;
		font-size: 12px;
		font-weight: 700;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: left;
	}
	.link p {
		font-family: Degular;
		font-size: 23px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0em;
		text-align: left;
	}
	.link div {
		border-top: 0px;
		border-left: solid 1px var(--cor-6);
		padding: 10px 10px 10px 26px;
		margin-bottom: 20px;
	}
}
