.titulo3{
  background-color: var(--cor-8);
  padding: 77px 0px 77px 40px !important ;
}
.maisconteudos{ 
  background-color: var(--cor-8);
  padding-left: 28px !important;
}
.maisconteudos-bg{
  background-color: var(--cor-8);  

}
.cards img{
  background-color: var(--cor-3);
  margin: 0px;
}

.cards{
  display: flex;
  flex-direction: column;
}
.cards-text{
  display: flex;
  flex-direction: column;
  padding: 17px 30px 10px 23px;
  background-color: var(--cor-1);
  gap: 11px;
}
.cards-titulo{
  display: flex;
  align-items: center;
  gap: 16px;
}
.cards-titulo h1{
  margin-bottom: 0px;
}

@media (max-width: 991.98px){
  .titulo3{
    padding: 45px 0px 48px 12px !important;  
  }
  .maisconteudos{ 
    padding-left: 0px !important;
  }
}
@media (max-width: 776.98px){
  .maisconteudos-bg{
   padding-left: 0px !important;  
   padding-right: 0px !important;
  
  }
}
@media (max-width: 576.98px){
  .titulo3 h1{  
   font: 700 35px/36px Degular !important;
  }
}