.borda-1{
  border-left: solid 4px var(--cor-4) ;
  padding-left: 78px;
}
.pd-esquerda{
  padding-left: 32px !important;
  margin-top: 106px ;
  margin-bottom: 152px;
}
.descricao-profissional{
  margin-top: 39px;
  align-items: center;
  padding-bottom: 32px;
}
.descricao-profissional p:first-child{
  padding-top: 5px;
}
.descricao-profissional img{
  border-radius: 50%;
  padding-top: 5px;
}
.texto-profissional{
  margin-left: 12px;
}
.texto-profissional p{
  margin-bottom: 0px !important;   
}
.conteudo-open{
  border-left: solid 4px var(--cor-5) ;
  padding-left: 78px;
  background-color: var(--cor-1);
  padding-bottom: 52px ;

}
.texto{
  border-left: solid 4px var(--cor-8) ;
  padding-left: 78px;
  padding-bottom: 32px ;
}
.autor-bg{
  background-color: var(--cor-3);
  padding-top: 29px;
  padding-bottom: 81px;
}
.pd-esquerda1{
  padding-left: 32px !important;
}
.compartilhe-post h3{
  margin-right: 25px;
}
.img-midias{ 
  margin: 0px !important;
  padding-left: 0px !important;
}
.img-midias img{
  margin-right: 20px !important;
  width: 22px;
  height: 22px;
}
.texto-profissional h2{
  margin-bottom: 0px !important;
}
.texto-profissional p{
  max-width: 30ch;
}
.descricao-profissional1 img{
  border-radius: 50%;
  padding-top: 10px;

}
@media (max-width: 670.98px){
  .titulo5 h1, .titulo5 span{
    font-size: 25px;    
  }
}
@media (max-width: 576.98px){
  .titulo5 h1{
    font: 400 17px/23.6px Degular;
  }
  .titulo5 span:firts-child{
    font: 400 17px/23.6px Degular;
  }
  .titulo5 span:last-child{
    font: 700 17px/23.6px Degular;
  }
  .borda-1{
    border-left: none ;
    padding-left: 0px;
  }
  .borda-1 h1{
    font: 700 35px/35px Degular;
    margin-bottom: 0px;
  }
  .pd-esquerda{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 31px ;
    margin-bottom: 77px;
  }
  .descricao-profissional{
    margin-top: 8px;
    padding-bottom: 8px;
  }
  .descricao-profissional img{
    width: 40px;
  }
  .descricao-profissional p{
    font: 400 10px/14px Degular;
  }
  .descricao-profissional span{
    font: 700 10px/14px Degular;
  }
  .conteudo-open{
    border-left: none;
    padding-left: 0px;    
    padding-bottom: 31px !important;
  }
  .texto{
    border-left: none ;
    padding-left: 0px;
    padding-bottom: 0px ;
  }
  .texto p{
    font: 400 20px/24.5px Degular;
  }
  .autor-bg{
    padding-bottom: 48px;
  }
  .pd-esquerda1{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .compartilhe-post h3{
    font: 400 18px/27px Degular;
  }
  .img-midias img{    
      margin-right: 10px !important;
  }
  .descricao-profissional1 img{
    width: 52px;
  }
  .texto-profissional h2{
    font: 700 18px/25.4px Degular;
  }
  .texto-profissional p{
    font: 400 14px/18.7px Degular;
  }
}
